<div class="container my-5">
  <h1 class="lead">My Addresses</h1>

  <button
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#newAddressModal">Create new address</button>
  <div class="row row-cols-md-4 row-cols-1 my-5 gx-2">
    {% for address in customer.addresses %}
      <div class="col">
        <div class="card">
          <div class="card-body">
            {{ address | format_address }}
          </div>
          <div class="card-footer">
            <form
              action="/account/addresses/{{ address.id }}"
              method="post"
              data-confirm-message="Delete address">
              <input
                type="hidden"
                name="_method"
                value="delete" />
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div
  class="modal fade"
  id="newAddressModal"
  tabindex="-1"
  aria-labelledby="newAddressModalLabel"
  aria-hidden="true">
  {% form 'customer_address', customer.new_address %}
    <div class="modal-dialog bg-white">
      <div class="model-content">
        <div class="modal-header">
          <h1 class="modal-title" id="newAddressModalLabel">Add New Address</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="col mb-3">
            <label class="form-label" for="AddressFirstNameNew">First Name</label>
            <input
              id="AddressFirstNameNew"
              type="text"
              value="{{ form.first_name }}"
              name="address[first_name]"
              class="form-control" />
          </div>
          <div class="col mb-3">
            <label class="form-label" for="AddressLastNameNew">Last Name</label>
            <input
              id="AddressLastNameNew"
              type="text"
              value="{{ form.last_name }}"
              name="address[last_name]"
              class="form-control" />
          </div>
          <div class="col mb-3">
            <label class="form-label" for="AddressCompanyNew">Company</label>
            <input
              id="AddressCompanyNew"
              type="text"
              value="{{ form.company }}"
              name="address[company]"
              class="form-control" />
          </div>
          <div class="col mb-3">
            <label class="form-label" for="AddressAddressNew">Address</label>
            <input
              id="AddressAddressNew"
              type="text"
              value="{{ form.address1 }}"
              name="address[address1]"
              class="form-control" />
          </div>
          <div class="col mb-3">
            <label class="form-label" for="AddressAddress2New">Apartment, Suite, etc</label>
            <input
              id="AddressAddress2New"
              type="text"
              value="{{ form.address2 }}"
              name="address[address2]"
              class="form-control" />
          </div>
          <div class="row mb-3">
            <div class="col mb-3">
              <label class="form-label" for="AddressCityNew">City</label>
              <input
                id="AddressCityNew"
                type="text"
                value="{{ form.city }}"
                name="address[city]"
                class="form-control" />
            </div>
            <div class="col col-md-4 mb-3">
              <label class="form-label" for="AddressCountryNew">Country</label>
              <select
                id="AddressCountryNew"
                type="text"
                value="{{ form.country }}"
                name="address[country]"
                class="form-control">{{ all_country_option_tags }}</select>
            </div>
            <div class="col col-md-4 mb-3">
              <label class="form-label" for="AddressProvinceNew">Province</label>
              <select
                id="AddressProvinceNew"
                type="text"
                value="{{ form.province }}"
                name="address[province]"
                class="form-control"
                disabled></select>
            </div>
          </div>
          <div class="col col-md-4 mb-3">
            <label class="form-label" for="AddressZipNew">Zip Code</label>
            <input
              id="AddressZipNew"
              type="text"
              value="{{ form.zip }}"
              name="address[zip]"
              class="form-control" />
          </div>
          <div class="col mb-3">
            <label class="form-label" for="AddressPhoneNew">Phone Number</label>
            <input
              id="AddressPhoneNew"
              type="text"
              value="{{ form.phone }}"
              name="address[phone]"
              class="form-control" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Create Address</button>
        </div>
      </div>
    </div>
  {% endform %}
</div>

{%- comment -%}
<label for="phone">Phone Number</label>
<input type="tel" value="" name="address[phone]" />
{%- endcomment -%}